<html>
  <head>
    <title>E Commerce</title>
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <div id="root">
      <header>
        <h1><span>안녕하세요 마켓컬리입니다</span></h1>
        <nav>
          <a href="/" class="current">메인페이지</a>
          <a href="/login">로그인</a>
          <a href="/signup">회원가입</a>
        </nav>
      </header>
      <main id="main">
        <form action="/" method="GET" class="search-category" id="search">
          <label for="">
            Choose a category:<br />
            <select name="category" id="category-selector" form="search">
              <option value="all">전체</option>
              <% for (let category of categories) { %>
              <option value="<%= category %>"><%= category %></option>
              <% } %>
            </select>
          </label>
          <label for="">
            Enter search term:<br />
            <input
              placeholder="e. g. HTML"
              type="text"
              name="query"
              id="search-input"
            />
          </label>
          <button type="submit">Filter Results</button>
        </form>
        <div class="search-result">
          <% for( let product of products ) { %>
          <div class="product" data-product-id="<%=product.product_id%>">
            <a
              class="click-to-see-more"
              href="/product/<%= product.product_id %>"
            >
              Click to see more
            </a>
            <div class="product-title"><%=product.product_title%></div>
            <img src="<%=product.product_image%>" />
            <div class="price-tag"><%= product.product_price %>원</div>
          </div>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
